{% extends 'base.html' %}

{% block name %}Log In{% endblock name %}

{% block content %}
<form method="post">
    <div class="jumbotron" style="padding-top: 20px; min-height: 300px; max-height: 400px; margin: auto; width: 400px; opacity: .8;">
        <h2 class="display-7">Log In</h2>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p class="lead">
            <button class="btn btn-primary ml-2" type="submit">Log In</button>
        </p>
        <p class="lead">
            <a href="{% url 'password_reset' %}" class="btn btn-primary ml-2">Reset Password</a>
        </p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary ml-2" href="{% url 'signup' %}">Sign Up</a>
        </p>
    </div>
</form>
{% endblock content %}