{% extends 'base.html' %}

{% block name %}Home{% endblock name %}

{% block content %}
<div  style="margin: auto; width: 65%; opacity: .8;">
{% if user.is_authenticated %}
  <div class="container mt-2">
  <div style="display: inline">
    <div class="col-lg-6 col-sm-12 item ">
      <div class="card item-card card-block">
        <h5 class="card-title mt-3 mb-3 text-center" style="text-align: center">Total Calories Consumed Today</h5>
        <p class="card-text text-center" style="text-align: center">{% for record in records %}
                {{ record.totalCalorie }}
                {% endfor %}
        </p>
    </div>
    </div>
    <div class="col-lg-6 col-sm-12 item">
      <div class="card item-card card-block mt-sm-2 mt-lg-0">
        <h5 class="card-title  mt-3 mb-3 text-center" style="text-align: center">Calorie Goal For Today</h5>
        <p class="card-text text-center" style="text-align: center">{% for record in records %}
                {{ record.caloriesGoal }}
                {% endfor %}</p>
  </div>
    </div>
  </div>

</div>
{% else %}
<h1>Please Login to track your Calorie Goals</h1>
{% endif %}
</div>
{% endblock content %}